<div class="content mt-3">
    <div class="col-lg-12">
        <div id="responseMessage" class="alert alert-dismissible fade show" role="alert" style="display: none;">
            <span id="responseText"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    
        <div class="card">
            <div class="card-header">
                <strong>Kelas</strong>
            </div>
            <div class="card-body card-block">
                <button type="button" class="btn btn-success mb-1" data-toggle="modal" data-target="#add_kelas">
                    Tambah Kelas
                </button>

                <table id="bootstrap-data-table-export" class="table table-striped">
                    <thead>
                        <tr>
                            <th class="w-10">No.</th>
                            <th class="w-80">Nama Kelas</th>          
                            <th class="w-10">Aksi</th>                   
                        </tr>
                    </thead>
                    <tbody>
                        {% for op in kelas %}
                        <tr>
                            <td>{{ loop.index }}</td>  <!-- loop.index0 memberikan indeks mulai dari 0 -->
                            <td>{{ op.nama_kelas }}</td>
                            <td>
                                <a href="#" class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#modalEdit{{ op.id_kelas }}">
                                    <i class="fa fa-edit"></i> Edit
                                </a>
                            
                                <a href="#" class="btn btn-danger btn-sm btn-block" data-toggle="modal" data-target="#modalHapus{{ op.id_kelas }}">
                                    <i class="fa fa-trash-o"></i> Hapus
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add_kelas" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Tambah Kelas</strong>
            </div>
            
            <div class="modal-body">
                <div id="responseMessageModal" class="alert alert-dismissible fade show" role="alert" style="display: none;">
                    <span id="responseTextModal"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <form id="dataForm" class="form-horizontal">                 
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="nama_kelas" class=" form-control-label">Nama Kelas</label></div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="nama_kelas" name="nama_kelas" placeholder="Masukan nama kelas..." class="form-control" required>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                
                <button type="reset" class="btn btn-danger btn-sm" onclick="resetForm()">
                    <i class="fa fa-ban"></i> Reset
                </button>

                <button type="submit" form="dataForm" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
            </div>
        </div>
    </div>
</div>


{% for edit in kelas %}
<div class="modal fade" id="modalEdit{{ edit.id_kelas }}" tabindex="-1" role="dialog" aria-labelledby="modalEdit" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEdit">Edit Data kelas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="dataFormEdit{{ edit.id_kelas }}" class="form-horizontal">
                    <input type="text" id="id_kelas" name="id_kelas" value="{{ edit.id_kelas }}" class="form-control" hidden>

                    <div class="row form-group">
                        <div class="col col-md-3"><label for="nama_kelas" class="form-control-label">Nama Kelas</label></div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="nama_kelas" name="nama_kelas" value="{{ edit.nama_kelas }}" class="form-control" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                <button type="submit" form="dataFormEdit{{ edit.id_kelas }}" class="btn btn-primary" onclick="updateKelas(event, '{{ edit.id_kelas }}')">Simpan Perubahan</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Konfirmasi Hapus -->
<div class="modal fade" id="modalHapus{{ edit.id_kelas }}" tabindex="-1" role="dialog" aria-labelledby="modalHapus" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalHapus">Konfirmasi Penghapusan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Apakah kamu yakin ingin menghapus kelas {{edit.nama_kelas}}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                <!-- Form untuk menghapus data -->
                <button type="button" class="btn btn-danger" onclick="deleteKelas(event, '{{ edit.id_kelas }}')">
                    <i class="fa fa-trash-o"></i> Hapus
                </button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<script>
    function resetForm() {
        const form = document.getElementById('dataForm');
        form.reset(); 
        responseMessage.style.display = 'none'; 
        responseMessageModal.style.display = 'none';
    }

    const form = document.getElementById('dataForm');
    const responseMessage = document.getElementById('responseMessage');
    const responseText = document.getElementById('responseText');
    const responseMessageModal = document.getElementById('responseMessageModal');
    const responseTextModal = document.getElementById('responseTextModal');

    form.addEventListener('submit', function(event) {
        event.preventDefault();  

        const nama_kelas = document.getElementById('nama_kelas').value;

        responseMessage.style.display = 'none'; 
        responseMessageModal.style.display = 'none';

        fetch('http://127.0.0.1:5000/insert_kelas', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ nama_kelas: nama_kelas })
        })
        .then(response => response.json())
        .then(data => {
            if (data.message) {
                sessionStorage.setItem("responseMessage", "success");
                sessionStorage.setItem("responseText", data.message);
                form.reset(); 
                window.location.reload(); 
            } else if (data.error) {
                sessionStorage.setItem("responseMessage", "error");
                sessionStorage.setItem("responseText", data.error);
                window.location.reload(); 
            }
        })
        .catch(error => {
            
            sessionStorage.setItem("responseMessage", "error");
            sessionStorage.setItem("responseText", error.message);
            window.location.reload(); 
        });
    });

    function updateKelas(event, prodiId) {
        event.preventDefault();  
        const form = document.getElementById('dataFormEdit' + prodiId);
        if (!form) {
            console.error("Form with ID dataFormEdit" + prodiId + " not found!");
            return;
        }

        const nama_kelas = form['nama_kelas'].value;

        if (!nama_kelas) {
            alert("Harap lengkapi semua field.");
            return;
        }

        const responseMessage = document.getElementById('responseMessage');
        const responseMessageModal = document.getElementById('responseMessageModal');
        responseMessage.style.display = 'none';
        responseMessageModal.style.display = 'none';

        fetch('http://127.0.0.1:5000/edit_kelas', {
            method: 'POST',  
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                id_kelas: prodiId,
                nama_kelas: nama_kelas
            })
        })
        .then(response => {
            if (!response.ok) {
                return response.text().then(text => { throw new Error(text) });
            }
            return response.json();
        })
        .then(data => {
            if (data.message) {
                sessionStorage.setItem("responseMessage", "success");
                sessionStorage.setItem("responseText", data.message);
                window.location.reload();  
            } else if (data.error) {
                sessionStorage.setItem("responseMessage", "error");
                sessionStorage.setItem("responseText", data.error);
                window.location.reload();  
            }
        })
        .catch(error => {
            sessionStorage.setItem("responseMessage", "error");
            sessionStorage.setItem("responseText", error.message);
            window.location.reload();  
        });
    }

    function deleteKelas(event, prodiId) {
        event.preventDefault();  
        const responseMessage = document.getElementById('responseMessage');
        const responseText = document.getElementById('responseText');
        responseMessage.style.display = 'block';

        // Kirim permintaan delete menggunakan fetch()
        fetch('http://127.0.0.1:5000/hapus_kelas', {
            method: 'POST',  
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id_kelas: prodiId })
        })
        .then(response => {
            if (!response.ok) {
                return response.text().then(text => { throw new Error(text) });
            }
            return response.json();  
        })
        .then(data => {
            if (data.message) {
                sessionStorage.setItem("responseMessage", "success");
                sessionStorage.setItem("responseText", data.message);
                window.location.reload();  
            } else if (data.error) {
                sessionStorage.setItem("responseMessage", "error");
                sessionStorage.setItem("responseText", data.error);
                window.location.reload(); 
            }
        })
        .catch(error => {
            sessionStorage.setItem("responseMessage", "error");
            sessionStorage.setItem("responseText", error.message);
            window.location.reload();  
        });
    }

    window.onload = function() {
        const responseMessage = document.getElementById('responseMessage');
        const responseText = document.getElementById('responseText');

        const storedMessage = sessionStorage.getItem("responseMessage");
        const storedText = sessionStorage.getItem("responseText");

        if (storedMessage && storedText) {
            if (storedMessage === "success") {
                responseText.textContent = storedText;  
                responseMessage.classList.remove('alert-danger');
                responseMessage.classList.add('alert-success');
                responseMessage.style.display = 'block'; 
            } else if (storedMessage === "error") {
                responseText.textContent = storedText;  
                responseMessage.classList.remove('alert-success');
                responseMessage.classList.add('alert-danger');
                responseMessage.style.display = 'block';  
            }

            sessionStorage.removeItem("responseMessage");
            sessionStorage.removeItem("responseText");
        }
    };

</script>
