<div class="content mt-3">
    {% for table, fields in table_fields.items() %}
    <div class="col-lg-3">
        <div class="card">
            <div class="card-header">
                <strong>{{ table }}</strong>
            </div>
            <div class="card-body card-block">
                <table id="bootstrap-data-table-export" class="table">
                    <thead>
                        <tr>
                            <th>Field Name</th>
                            <th>Type</th>
                            <!--<th>Null</th>
                            <th>Key</th>
                            <th>Default</th>
                            <th>Extra</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        {% for field in fields %}
                            <tr>
                                <td>{{ field.Field }}</td>
                                <td>{{ field.Type }}</td>
                                <!--<td>{{ field.Null }}</td>
                                <td>{{ field.Key }}</td>
                                <td>{{ field.Default }}</td>
                                <td>{{ field.Extra }}</td>-->
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}   
</div>