<!-- home.html -->
<div class="content mt-3">
  <div class="col-sm-12">
    <div class="modal-content">
      <div class="modal-body">
        {% if emotion %}
          <!-- Card Identitas -->
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ emotion.nama_mahasiswa }}</h5>
              <p class="card-text">{{ emotion.judul_materi }}</p>
            </div>
            <div class="card-footer text-muted">
              Last Access : {{ emotion.last_access }}
            </div>
          </div>

          <!-- Card Grafik Fokus -->
          <div class="card mb-3">
            <div class="card-header">
              <strong>Student Engagement</strong>
            </div>
            <div class="card-body">
              <img class="img-fluid d-block mx-auto" src="data:image/png;base64,{{ grafik_fokus }}" alt="Fokus vs Waktu">
            </div>
          </div>

          <!-- Dua Grafik Emosi dalam 1 Row -->
          <div class="row">
            <div class="col-12 col-md-4 mb-3">
              <div class="card h-100">
                <div class="card-header">
                  <strong>Emotion Distribution</strong>
                </div>
                <div class="card-body">
                  <img class="img-fluid d-block mx-auto" src="data:image/png;base64,{{ grafik_pie }}" alt="Persentase Emosi">
                </div>
              </div>
            </div>

            <div class="col-12 col-md-8 mb-3">
              <div class="card h-100">
                <div class="card-header">
                  <strong>Conclusion</strong>
                </div>
                <div class="card-body">
                  <!--<img class="img-fluid d-block mx-auto" src="data:image/png;base64,{{ grafik_emo }}" alt="Distribusi Emosi">-->
                  <div class="card-body">
            
                    <p class="text-center">
                      <strong>Dominant Engagement : {{ kesimpulan }}</strong>
                    </p>

                    <div class="progress-group">
                      Highly Engaged
                      <span class="float-right"><b>{{ detail.get('Highly Engaged', 0) }} %</b></span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-danger" style="width: {{ detail.get('Highly Engaged', 0) }}%" ></div>
                      </div>
                    </div>

                    <div class="progress-group">
                      Confused
                      <span class="float-right"><b>{{ detail.get('Confused', 0) }} %</b></span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-success" style="width: {{ detail.get('Confused', 0) }}%" ></div>
                      </div>
                    </div>

                    <div class="progress-group">
                      Boredom
                      <span class="float-right"><b>{{ detail.get('Boredom', 0) }} %</b></span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-primary" style="width: {{ detail.get('Boredom', 0) }}%" ></div>
                      </div>
                    </div>

                    <div class="progress-group">
                      Sleepy
                      <span class="float-right"><b>{{ detail.get('Sleepy', 0) }} %</b></span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-warning" style="width: {{ detail.get('Sleepy', 0) }}%" ></div>
                      </div>
                    </div>

                    <div class="progress-group">
                      Very Not Engaged
                      <span class="float-right"><b>{{ detail.get('Very Not Engaged', 0) }} %</b></span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-secondary" style="width: {{ detail.get('Very Not Engaged', 0) }}%" ></div>
                      </div>
                    </div>            
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <strong>Grafik per emosi</strong>
            </div>
            <div class="card-body">
              <img class="img-fluid d-block mx-auto" src="data:image/png;base64,{{ grafik_bar }}" alt="Grafik per Emosi">
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <strong>Ringkasan Engagement Siswa</strong>
            </div>
            <div class="card-body">
              <p>{{ analisis }}</p>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <strong>Rekomendasi Perbaikan</strong>
            </div>
            <div class="card-body">
              <p>{{ evaluasi }}</p>
            </div>
          </div>


        {% else %}
          <div class="alert alert-danger" role="alert">
            {{ mahsw.nama_mahasiswa }} belum mengakses materi
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
