<div class="content mt-3">

    <div class="col-sm-12">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="card-title mb-0">{{ materi.judul_materi }}</h5>
                    </div>
                    <div class="card-body">
                        <p>{{ materi.deskripsi }}</p>
                    </div>           
                </div>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <span class="badge badge-pill badge-success">Camera Access Required</span> Facial Expression Recognition.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div> 
            </div>
            <div class="modal-footer">
                <div class="col-lg-9">    
                    <video id="videoPlayer" width="100%" height="100%" style="max-height: 600px; height: 100%;">
                        {% if materi %}
                            <source src="{{ url_for('static', filename='materi/' + materi.berkas) }}" type="video/mp4">
                        {% else %}
                            <p>No video found.</p>
                        {% endif %}
                        Your browser does not support the video tag.
                    </video>
                </div>

                <div class="col-lg-3">
                    <video id="videoElement" width="100%" height="auto" autoplay></video>
                    
                    <!-- Progress Bar to indicate completion (hidden initially) -->
                    <div id="progressWrapper" style="display:none; margin: 10px 0px 10px 0px;">
                        <div id="progressBar" style="width: 100%; background-color: #f3f3f3; height: 20px; border-radius: 5px;">
                            <div id="progress" style="width: 0%; height: 100%; background-color: green; border-radius: 5px;"></div>
                        </div>
                    </div>
                
                    <!-- Video selesai message -->
                    <div id="videoCompleteMessage" style="display:none; margin: 10px 0px 10px 0px;">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <span class="badge badge-pill badge-success">Video Selesai</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                    <!-- Start, Pause, and Replay buttons -->
                    <button id="startBtn" class="btn btn-primary">Start</button>
                    <button id="pauseBtn" class="btn btn-warning" style="display:none;">Pause</button>
                    <button id="replayBtn" class="btn btn-success" style="display:none;">Replay</button>

                    <p id="wajah"> </p>
                    <p id="arah_mata">Arah Mata: </p>
                    <p id="arah_kepala">Arah Kepala: </p>
                    <p id="fokus">Fokus: </p>
                    <p id="emosi">Emosi: </p>
                </div>
            </div>
        </div>
    </div>
        
</div>

<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script> -->
<script>
    
    let emotionData = [];
    let collectEmotionData = "stop";
    
    window.onload = function() {
        var video = document.getElementById('videoPlayer');
        var startBtn = document.getElementById('startBtn');
        var pauseBtn = document.getElementById('pauseBtn');
        var replayBtn = document.getElementById('replayBtn');
        var progressWrapper = document.getElementById('progressWrapper');
        var progressBar = document.getElementById('progress');
        var videoCompleteMessage = document.getElementById('videoCompleteMessage');
        var videoFeed = document.getElementById('videoFeed');  // Video feed element

        // Start button functionality
        startBtn.addEventListener('click', function() {
            video.play();

            collectEmotionData = "mulai"; // Start collecting emotion data
            console.log("Emotion data collection started: ", collectEmotionData); // Debugging log
            
            startBtn.style.display = 'none'; // Hide start button when video is playing
            pauseBtn.style.display = 'block'; // Show pause button when video is playing
            progressWrapper.style.display = 'block'; // Show progress bar when video starts
            progressBar.style.width = '0%'; // Reset progress bar to 0% initially
            videoCompleteMessage.style.display = 'none'; // Hide "Video Selesai" message initially
            videoFeed.style.display = 'block'; // Show video feed when playing
            
            
        });

        // Pause button functionality
        pauseBtn.addEventListener('click', function() {
            collectEmotionData = "stop";
            console.log("Emotion data collection paused");

            video.pause();
            startBtn.style.display = 'block'; // Show start button when video is paused
            pauseBtn.style.display = 'none'; // Hide pause button when video is paused
        });

        // Replay button functionality
        replayBtn.addEventListener('click', function() {
            collectEmotionData = "mulai"; // Start collecting emotion data again
            console.log("Emotion data collection restarted");

            video.currentTime = 0; // Reset video to the beginning
            video.play(); // Play the video
            startBtn.style.display = 'none'; // Hide start button when video is playing
            pauseBtn.style.display = 'block'; // Show pause button when video is playing
            progressWrapper.style.display = 'block'; // Show progress bar when video starts
            progressBar.style.width = '0%'; // Reset progress bar to 0% initially
            videoCompleteMessage.style.display = 'none'; // Hide "Video Selesai" message initially
            replayBtn.style.display = 'none'; // Hide replay button after it's clicked
            videoFeed.style.display = 'block'; // Show video feed when replaying
        });

        // Event listener to track video progress
        video.addEventListener('timeupdate', function() {
            var progress = (video.currentTime / video.duration) * 100; // Calculate progress percentage
            progressBar.style.width = progress + '%'; // Update progress bar width as the video plays
        });

        // Check if the video has ended
        video.addEventListener('ended', function() {
            collectEmotionData = "selesai";
            console.log("Emotion data collection ended");
            
            startBtn.style.display = 'none'; // Hide start button after video ends
            pauseBtn.style.display = 'none'; // Hide pause button after video ends
            replayBtn.style.display = 'block'; // Show replay button after video ends
            progressWrapper.style.display = 'none'; // Hide progress bar after video ends
            videoCompleteMessage.style.display = 'block'; // Show "Video Selesai" message after video ends
            videoFeed.style.display = 'none'; // Hide video feed after video ends

            
        });

        // Initially disable the pause button
        pauseBtn.style.display = 'none'; // Hide pause button initially
        replayBtn.style.display = 'none'; // Hide replay button initially

    };

    const socket = io(); // connect to the server
    const videos = document.getElementById('videoElement');

    // Akses webcam
    navigator.mediaDevices.getUserMedia({ video: true })
        .then(function(stream) {
            videos.srcObject = stream;
        })
        .catch(function(error) {
            console.log("Error accessing webcam: ", error);
        });

    // Mengambil gambar dari video dan mengirim ke server
    function sendFrameToServer() {
        const canvas = document.createElement('canvas');
        const context = canvas.getContext('2d');
        canvas.width = videos.videoWidth;
        canvas.height = videos.videoHeight;
        context.drawImage(videos, 0, 0, canvas.width, canvas.height);
        const imageData = canvas.toDataURL('image/png'); // Konversi canvas ke base64
        socket.emit('images', imageData); // Kirim gambar ke server
    }

    // Menerima data hasil analisis wajah dari server
    socket.on('analisis_wajah', function(data) {
        document.getElementById('wajah').innerText = 'Face Detected: ' + data.face_detected;
        document.getElementById('arah_mata').innerText = 'Arah Mata: ' + data.arah_mata;
        document.getElementById('arah_kepala').innerText = 'Arah Kepala: ' + data.arah_kepala;
        document.getElementById('fokus').innerText = 'Fokus: ' + data.fokus;
        document.getElementById('emosi').innerText = 'Emosi: ' + data.emosi;
        if (collectEmotionData == "mulai") {
            let timestamp = new Date().toISOString();
            let date = new Date(timestamp);
            let formattedDate = `${date.getDate().toString().padStart(2, '0')}/${(date.getMonth() + 1).toString().padStart(2, '0')}/${date.getFullYear()} ${date.getHours().toString().padStart(2, '0')}:${date.getMinutes().toString().padStart(2, '0')}:${date.getSeconds().toString().padStart(2, '0')}`;
            emotionData.push({
                face_detected: data.face_detected,
                arah_mata: data.arah_mata,
                arah_kepala: data.arah_kepala,
                fokus: data.fokus,
                emosi: data.emosi,
                timestamp: formattedDate
            });  
            console.log('Emotion:', emotionData); 
        }
        else if(collectEmotionData == "selesai"){
            fetch('/save-emotion-data', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ emotionData: emotionData })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Data successfully saved:', data);
            })
            .catch(error => {
                console.error('Error saving data:', error);
            });
            emotionData = []
            collectEmotionData = "stop"
        }
        else{} 
    });

    // Kirim frame setiap 500ms
    setInterval(sendFrameToServer, 1000);
</script>