<div class="content mt-3">

            <div class="col-lg-3 col-md-6">
                <div class="social-box facebook">
                    <i class="fa fa-suitcase"></i>
                    <ul>
                        <span class="count">{{ data_home.total_pengajar }}</span>
                        <span>Pengajar</span>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="social-box twitter">
                    <i class="fa fa-users"></i>
                    <ul>
                        <span class="count">{{ data_home.total_mahasiswa }}</span>
                        <span>Mahasiswa</span>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="social-box linkedin">
                    <i class="fa fa-bookmark"></i>
                    <ul>
                        <span class="count">{{ data_home.total_kelas }}</span>
                        <span>Kelas</span>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="social-box google-plus">
                    <i class="fa fa-book"></i>
                    <ul>
                        <span class="count">{{ data_home.total_mata_kuliah }}</span>
                        <span>Mata Kuliah</span>
                    </ul>
                </div>
            </div>

        </div>