<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    {% include 'header.html' %}
</head>

<body>
    {% include 'left_panel.html' %}
    <div id="right-panel" class="right-panel">

        {% include 'top_header.html' %}
        {% include 'breadcrumbs.html' %}

        {% set content_map = {
            'home': 'modules/home.html',
            'operator': 'modules/operator.html',
            'prodi': 'modules/prodi.html',
            'kelas': 'modules/kelas.html',
            'pengajar': 'modules/pengajar.html',
            'matkul': 'modules/matkul.html',
            'mahasiswa': 'modules/mahasiswa.html',
            'debug_video': 'modules/video.html',
            'debug_db': 'modules/debug_db.html',
            'pengampu': 'modules/pengampu.html',
            'krs': 'modules/krs.html',
            'pengajaran': 'modules/pengajaran.html',
            'materi': 'modules/materi.html',
            'daftarMatkul': 'modules/daftarMatkul.html',
            'materiKuliah': 'modules/materiKuliah.html',
            'enrollment': 'modules/enrollment.html'
        } %}

        {% set template = content_map[konten] if konten in content_map else 'modules/home.html' %}

        {% include template %}

    </div>

    {% include 'footer.html' %}

</body>

</html>
