<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    {% include 'header.html' %}
</head>

<body>
    <!-- Left Panel -->
    {% include 'left_panel.html' %}
    <!-- Left Panel -->

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        {% include 'top_header.html' %}
        <!-- Header-->
        
        {% include 'breadcrumbs.html' %}

        <!-- .content -->
        {% if konten == 'video' %}
            {% include 'modules/video.html' %}
        {% elif konten == 'add_user' %}
            {% include 'action/add_user.html' %} 
        {% elif konten == 'add_content' %}
            {% include 'action/add_content.html' %}
        {% elif konten == 'debug' %}
            {% include 'modules/debug.html' %}    
        {% else %}
            {% include 'modules/home.html' %}
        {% endif %}
        <!-- .content -->
    </div>
    <!-- Right Panel -->

    {% include 'footer.html' %}

</body>

</html>
