<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LMS | IPDN</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/login/style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">

</head>

<body>
  <div class="wrapper">
    <form action="/login" method="post">
      <h2>LMS IPDN</h2>
      <div class="input-field">
        <input type="text" id="username" name="username" required>
        <label>ID Number / NIP</label>
      </div>
      <div class="input-field">
        <input type="password" id="password" name="password" required>
        <label>Enter your password</label>
      </div>
      <div class="forget">
        <label for="remember">
          <input type="checkbox" id="remember">
          <p>Remember me</p>
        </label>
        <!-- <a href="#">Forgot password?</a> -->
      </div>
      <button type="submit">Log In</button>
     <!--  <div class="register">
        <p>Don't have an account? <a href="#">Register</a></p>
      </div> -->
    </form>
  </div>
</body>

</html>